.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: -10px;
  right: -8px;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon ion-icon {
  font-size: 16px;
  color: var(--ion-color-secondary); /* Ajusta el color según tus necesidades */
}
